@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
:root {
  --text: #1f2937;
  --text-h: #111827;
  --bg: #ffffff;
  --border: #e5e7eb;
  --code-bg: #f3f4f6;
  --accent: #2563eb;
  --accent-bg: rgba(37, 99, 235, 0.1);
  --accent-border: rgba(37, 99, 235, 0.5);
  --social-bg: rgba(243, 244, 246, 0.5);
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  --heading: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  --mono: 'SF Mono', Monaco, 'Cascadia Code', 'Roboto Mono', Consolas, 'Courier New', monospace;

  font: 16px / 1.6 var(--sans);
  letter-spacing: 0px;
  color-scheme: light;

  @media (max-width: 1024px) {
    font-size: 15px;
  }
}
